   
body {
	background: yellow;
}
h1{
	color:black;
	
}
#select{
	border:solid black;
	width: 200px;
	display: inline-block;
}
#name {
	color: royalblue;
	font-weight: bold;
	border-style: none;
	float: center;
	
}


.collapse {
        background-color: #de9996;
        outline: none;
        font-size: 25px;
		width: 200px;
		border:solid black;
    }
   
    .active,
    .collapse:hover {
        background-color: #438a5e;
    }
   
    .text {
        background-color: #3431c9;
        display: none;
        font-size: 20px;}